
  <div class="container">
    <div class="section row">
      <div class="col-5">
        <a [href]="section.image" target="_blank">
          <img
            [src]="section.image"
            alt="{{ section.image }}"
            class="section-thumbnail"
          />
        </a>
      </div>
      <div class="col-7">
        <div class="row" style="margin: 20px auto;text-align:left;">
          <!-- <div class="col-8">
            <h2>Section {{ section.seqNo }} of {{ section.tutorialId }}</h2>
          </div> -->
          <div class="row" style="justify-content: center;">
            <button mat-mini-fab color="accent" *ngIf="!!canShow" (click)="editSection(section)">
              <mat-icon class="add-course-btn" >edit</mat-icon>
            </button>
          </div>
          <div class="row" style="margin: 20px auto;text-align:left;">
            <p><strong>Description : </strong>{{ section.description }}</p>

            <p><strong>Solution : </strong><span [innerHTML]="section.solution"></span></p>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div *ngIf="!iscompleted" class="row">
        <button style="margin: 20px auto; width: 100px; text-align: center; background-color: forestgreen;" (click)="markComplete()"><mat-icon>check_circle</mat-icon></button>
      </div>
      <div *ngIf="iscompleted" class="row" >
        <p style="margin: 20px auto; width: 300px; text-align: center; background-color: forestgreen;">You have completed this section!</p>
      </div>
    </div>
  </div>
