<div [formGroup]="form">

  <mat-form-field>

      <input matInput placeholder="Title" formControlName="description" #description>
      <mat-hint align="start" *ngIf="(description.value.length > 3)">
        {{ description.value| toxicity | async | emojify }}
      </mat-hint>

      <mat-hint align="end">
          {{ description.value.length }} / 60
      </mat-hint>

  </mat-form-field>

  <mat-form-field appearance="outline">

      <textarea matInput placeholder="Description" formControlName="longDescription" cdkTextareaAutosize
        cdkAutosizeMinRows="5" #longDescription
        cdkAutosizeMaxRows="8">

      </textarea>
      <mat-hint align="start" *ngIf="(longDescription.value.length > 3)">
        {{ longDescription.value | toxicity | async | emojify }}
      </mat-hint>

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Scope" formControlName="field" #field>
    <mat-hint align="start" *ngIf="(field.value.length > 3)">
      {{ field.value | toxicity | async | emojify }}
    </mat-hint>
  </mat-form-field>


  <div class="tutorial-image-upload">

    <span>Tutorial thumbnail:</span>

    <img class="tutorial-thumbnail mat-elevation-z3"
         [src]="iconUrl"
         *ngIf="iconUrl">

    <input type="file" (change)="uploadFile($event)">
    <div class="upload-progress" *ngIf="(percentageChanges$ | async) as percentage">

      <mat-progress-bar class="progress-bar"
                        mode="determinate"
       [value]="percentage">

      </mat-progress-bar>

      <span>{{percentage / 100 | percent}}</span>

    </div>
  </div>



</div>

