<div [formGroup]="form">

  <mat-form-field>

      <input matInput placeholder="Title" formControlName="description" #description>

      <mat-hint align="end">
          {{ description.value.length }} / 60
      </mat-hint>

  </mat-form-field>

  <mat-form-field appearance="outline">

      <textarea matInput placeholder="Description" formControlName="longDescription" cdkTextareaAutosize
        cdkAutosizeMinRows="5"
        cdkAutosizeMaxRows="8">

      </textarea>

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Scope" formControlName="field" #field>

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Icon" formControlName="iconUrl" #iconUrl>

  </mat-form-field>

</div>

