
>>> body {
  margin: 0;
}

main {
  margin: 30px;
}

.menu-button {
  background: rgba(255, 170, 0, 0.76);
  color: white;
  border: none;
  cursor:pointer;
  outline:none;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}
.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
