<h3>Add Tutorial Sections:</h3>

<div class="add-lessons-form" [formGroup]="form">

    <ng-container formArrayName="sections">

        <ng-container *ngFor="let sectionForm of sections.controls; let i = index">

            <div class="lesson-form-row"  [formGroupName]="i">

                <mat-form-field appearance="fill">

                    <input matInput
                           formControlName="description"
                           placeholder="Aimed problem here">

                </mat-form-field>

                <mat-form-field appearance="fill">

                  <input matInput
                         formControlName="seqNo"
                         placeholder="Sequence of section here">

                </mat-form-field>

                <mat-form-field appearance="fill">

                  <input matInput
                         formControlName="solution"
                         placeholder="Solution here">

                </mat-form-field>


                <mat-form-field appearance="fill">

                  <input matInput
                         formControlName="image"
                         placeholder="Optional image">

                </mat-form-field>


                <mat-icon class="delete-btn" (click)="deleteSection(i)">
                    delete_forever</mat-icon>

            </div>

        </ng-container>

    </ng-container>

    <button mat-mini-fab (click)="addSection()">
        <mat-icon class="add-course-btn">add</mat-icon>
    </button>

</div>
