
<h2 mat-dialog-title>Tutorial About</h2>

<mat-dialog-content>

  <ng-container *ngIf="form">

    <div class="spinner-container" *ngIf="loading$ | async">

      <mat-spinner></mat-spinner>

    </div>

    <ng-container [formGroup]="form">

      <mat-form-field>

        <input matInput
               placeholder="Tutorial Title"
               formControlName="description">

      </mat-form-field>

      <mat-form-field>

        <input matInput
                placeholder="Tutorial Field"
                formControlName="field">

      </mat-form-field>

      <mat-form-field>

        <input matInput
                placeholder="Tutorial Icon Url"
                formControlName="iconUrl">

      </mat-form-field>

      <mat-form-field>

        <textarea matInput placeholder="Description"
                  formControlName="longDescription">

        </textarea>

      </mat-form-field>

    </ng-container>

    <!-- <fieldset [formGroup]="sectionForm">
      <div formArrayName="sections">
        <div *ngFor="let value of sections;let i = index">
          <ng-container [formGroupName]="i">

            <mat-form-field>

              <input matInput
                     placeholder="Section description"
                     formControlName="description">

            </mat-form-field>

            <mat-form-field>

              <input matInput
                     placeholder="Section Sequence"
                     formControlName="seqNo">

            </mat-form-field>

            <mat-form-field>

              <input matInput
                     placeholder="Section Image"
                     formControlName="image">

            </mat-form-field>

            <mat-form-field>

              <textarea matInput placeholder="Solution"
                        formControlName="solution">

              </textarea>

            </mat-form-field>

          </ng-container>
        </div>
      </div>
    </fieldset> -->


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Close
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!form.valid || (this.loading$ | async)" (click)="onSave()">
    Save
  </button>

</mat-dialog-actions>




