
<h2 mat-dialog-title>New Section</h2>

<mat-dialog-content>

  <ng-container *ngIf="sectionForm">

    <ng-container [formGroup]="sectionForm">

      <mat-form-field>

        <input matInput
               placeholder="Title"
               formControlName="description">

      </mat-form-field>

      <mat-form-field>

        <input matInput
                placeholder="Sequence"
                formControlName="seqNo">

      </mat-form-field>

      <mat-form-field>

        <input matInput
                placeholder="Image"
                formControlName="image">

      </mat-form-field>

      <mat-form-field>

        <textarea matInput placeholder="Solution"
                  formControlName="solution" cdkTextareaAutosize
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="8">

        </textarea>

      </mat-form-field>

    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Cancel
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!sectionForm.valid" (click)="onSave()">
    Add Section
  </button>

</mat-dialog-actions>




