
<h2 mat-dialog-title>New Section</h2>

<mat-dialog-content>

  <ng-container *ngIf="sectionForm">

    <ng-container [formGroup]="sectionForm">

      <mat-form-field>

        <input matInput
               placeholder="Title"
               formControlName="description">

      </mat-form-field>

      <mat-form-field>

        <input matInput
                placeholder="Sequence"
                formControlName="seqNo">

      </mat-form-field>

      <mat-form-field>

        <quill-material
          formControlName="solution"
          placeholder="Your Solution here"
        ></quill-material>

      </mat-form-field>

      <div class="section-image-upload">

        <span>Section Image:</span>

        <img class="section-thumbnail mat-elevation-z3"
             [src]="image"
             *ngIf="image">

        <input type="file" (change)="uploadFile($event)">
        <div class="upload-progress" *ngIf="(percentageChanges$ | async) as percentage">

          <mat-progress-bar class="progress-bar"
                            mode="determinate"
           [value]="percentage">

          </mat-progress-bar>

          <span>{{percentage / 100 | percent}}</span>

        </div>
      </div>

    </ng-container>


  </ng-container>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button (click)="onClose()">
    Cancel
  </button>

  <button mat-raised-button color="primary"
          [disabled]="!sectionForm.valid || !sectionForm.value.image" (click)="onSave()">
    Add Section
  </button>

</mat-dialog-actions>




